.container {
    max-width: 600px; /* 컨테이너의 최대 너비 지정 */
    width: 100%; /* 화면 크기에 맞춰 조정 */
    margin: 0 auto; /* 가운데 정렬 */
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    margin-left: -10px;
    height: 300px;
}

p {
    text-align: center;
    font-size: 15px;
    margin-bottom: 15px;
}
